spec/factories/cache_party/facebook_applications.rb
.bundle/
tmp/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/migrate/
spec/dummy/db/schema.rb
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/public/cache/
spec/dummy/public/uploads/
spec/dummy/public/coverage/
spec/dummy/public/test/
spec/fixtures/vcr/
coverage/

