
<div class="alert fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>Extension: <%= @data[:extension] %></p>
  <p>Submitted data: <%= @data[:data] %></p>
</div>

