<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Call Detail Records Report for date <%= @report_date_range %></h1>
    <p>
      Please find the report attached to this email.
    </p>
    <p>
      To report any issue with this email or CDR Report please email support@maxcole.com
    </p>
    <p>Thank you for choosing <%= @url %></p>
    <p></p>
    <p>Have a great day!</p>
  </body>
</html>

